/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.slick-slide{outline: none;}

.slider {
        width:100%; display: inline-block; vertical-align: top;}

    .slick-slide {
      margin: 0px 0px; padding: 0px 0px;
    }

    .slick-slide img {
      max-width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }


    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: 1;
    }
    
    .slick-active {
      opacity: 1;
    }

    .slick-current {
      opacity: 1;
    }


.slick-loading .slick-list
{
    background: #fff;
}


/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;z-index: 5;
    margin-top: -24px;
    display: block; 
    width: 24px;
    height: 48px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: 1;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: 1;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
	left:-20px; width:24px; height: 48px; background: url(../images/slider-left-arow.png) no-repeat  center; background-size: cover;
}

[dir='rtl'] .slick-prev
{
    right:0px;
    left: auto; 
}
.slick-prev:before
{
    content: '';
}
[dir='rtl'] .slick-prev:before
{
    content: '';
}

.slick-next
{
    right:-20px;width:24px; height: 48px; background: url(../images/slider-right-arow.png) no-repeat center; background-size: cover;
}

#sbcategoryslide .slick-next{right:-40px; top:50%; margin-top: 0px; width:28px; height:19px;z-index: 5; background:url(../images/right-sbc.png) no-repeat;} 
#sbcategoryslide .slick-prev{left:-40px; top:50%; margin-top: 0px; width:28px; height:19px;z-index: 5; background: url(../images/left-sbc.png) no-repeat;} 

#lkcslide .slick-next{right:-40px; top:50%; margin-top: 0px; width:28px; height:19px;z-index: 5; background:url(../images/right-sbc.png) no-repeat;} 
#lkcslide .slick-prev{left:-40px; top:50%; margin-top: 0px; width:28px; height:19px;z-index: 5; background: url(../images/left-sbc.png) no-repeat;} 




[dir='rtl'] .slick-next 
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '';
}
[dir='rtl'] .slick-next:before
{
    content: '';
}

/* Dots */
.slick-dotted.slick-slider
{
}

.slick-dots
{
    position: absolute;
    bottom:35px;left: 33px;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: left;
}
.slick-dots li
{
    position: relative;
    display: inline-block;
    width:10px;
    height:10px;
    margin: 0 4px;
    padding: 0; 
    cursor: pointer;
} 
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 100%;
    height:10px;
    padding: 0px;

    cursor: pointer; 

    color: transparent;
    border: 0;
    outline: none;
    background:#939392; 
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
} 
.slick-dots li.slick-active button{background:#2acb35; 
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    /*line-height: 20px;*/

    position: absolute;
    top: 0;
    left: 0;

    /*width: 20px;
    height: 20px;*/

    content: '';
    text-align: center;

    opacity: .25;
    color: black; 

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: 1;
    color: black;
}



#offertop .slick-prev {
    left: 0px;
    width: 48px;
    height: 96px;
    background: url(../images/offer-left-arow.png) no-repeat center; background-size: cover;
}
#offertop .slick-next { 
    right: 0px;
    width: 48px;
    height: 96px;
    background: url(../images/offer-right-arow.png) no-repeat center; background-size: cover;
}
#offertop .slick-prev, #offertop .slick-next{width: 48px;
    height: 96px;margin-top: -27px;}  


